@charset "UTF-8";
@font-face {
    font-family: 'Arista';
    src: url(/src/styles/Fontes/Arista-Pro-Light-trial.ttf) format('Opentype');
    font-weight: normal;
}

:root {
    --color-bacgraund1: #F5F5F7;
    --color-bacgraund2: white;
    
    --color-glass1:#f5f5f781;

    --color-text1: #6E6E73;
    --color-text2: #1D1D1F;

    --color1: #0D0D0D;
    --color2: #404040;
    --color3: #8C8C8C;
    --color4: #E3E3E3;
    --color5: #F2F2F2;

    --color-BrandPrimary: #426A8C;
    
    --font-Arist: 'Arista', sans-serif;
}

#home {
    display: flex;
    height: calc(100vh - 96px);
    position: relative;
        
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 30px;
    
}

#cta .title{
    font-size: 4rem;
    font-family: var(--font-Arist);
    margin-top: 60px;
}

#cta .title span {
    font-family: var(--font-Arist);
    color: var(--color-text2);
}

#cta .description {
    font-size: 1.5rem;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    
}

#banner img{
    height: 100%;
    width: fit-content;
    z-index: 3;
    margin-top: 96px;
    
}

.shape{
    background-color: var(--color-bacgraund2);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    margin-top: 96px;
}

h3 {
    font-weight: 400;
}

.tool-description {
    font-size: 0.8rem;
    font-weight: 300;
}

@media screen and (max-width: 1170px){
    #home{
        min-height: 100%;
        padding-top: 0;
    }

    #banner, #banner img, #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}